<mat-toolbar class="header">
  <span class="logo">
    <a routerLink="/home">MyShop App</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/Manager" routerLinkActive="mat-accent">Manager</a>
    </li>
    <li>
      <a mat-button routerLink="/Customer" routerLinkActive="mat-accent">Customer</a>
    </li>
    <li>
      <a mat-button routerLink="/shipperLogin" routerLinkActive="mat-accent">Shipper</a>
    </li>
    <li>
      <a mat-button routerLink="/listPublicProduct" routerLinkActive="mat-accent">Products</a>
    </li>
    <!-- <li>
      <a mat-button routerLink="/trackorder" routerLinkActive="mat-accent">Map</a>
    </li>
    <li>
      <a mat-button routerLink="/shoplist" routerLinkActive="mat-accent">SHOPPING LIST</a>
    </li>
    <li>
      <a mat-button [routerLink]="'/showtreelist'" routerLinkActive="mat-accent"> MYTREE parent</a>
    </li>
    <li>
      <a mat-button routerLink="/reply" routerLinkActive="mat-accent">REPLY child</a>
    </li> -->
  </ul>
</mat-toolbar>
