<div class="table">
  <h1>PRODUCT LIST</h1>
  <button mat-button [routerLink]="['/myorder']" *ngIf="isacustomer || (ispublic && isamanager && isashipper)">My
    ORDER</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Category</th>
        <th scope="col">Stock Status</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody *ngFor="let product of productList">
      <tr>
        <th scope="row">{{ product.pid }}</th>
        <td>{{ product.productName | uppercase }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.stockstatus }}</td>
        <td>{{ product.price | currency:'INR' }}</td>
        <td>
          <a mat-button [routerLink]="['/edit', product.pid]"
            *ngIf="isamanager || (ispublic && !isashipper && !isacustomer)">EDIT</a>
          <button mat-button [routerLink]="['/order']"
            *ngIf="isacustomer || (ispublic && isamanager && isashipper)">ORDER</button>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="info-text mat-body-1" *ngIf="productList?.length <= 0">No products added yet!</p>
</div>