<h3>Customer SignUp</h3>
<div class="formsize">
  <mat-card>
    <form (submit)="onSavePost(RegisterForm)" #RegisterForm="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>firstName</mat-label>
        <input matInput name="firstName" ngModel type="text" placeholder="Name" #nameInput="ngModel" required>
        <mat-error *ngIf="nameInput.invalid">Please enter a valid name.</mat-error>
      </mat-form-field> <br>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput name="email" ngModel type="text" placeholder="E-mail" #emailInput="ngModel" required>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
      </mat-form-field> <br>


      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel"
          required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>mobile</mat-label>
        <input matInput name="mobile" ngModel type="text" placeholder="mobile" #mobileInput="ngModel" required>
        <mat-error *ngIf="mobileInput.invalid">Please enter a valid mobile.</mat-error>
      </mat-form-field> <br>
      <button mat-raised-button type="submit">Signup</button>
    </form>
  </mat-card>
</div>