mat-card {
  width: 80%;
  margin: auto;
  border-style: solid;
  border-color: rgba(64, 131, 19, 0.83);
}
mat-form-field {
  border-color: rgba(64, 131, 19, 0.83);
}
.formsize {
  margin-left: 35%;
  width: 30%;
  margin-top: 1%;
}
/* button {
  background-color: rgba(64, 131, 19, 0.83);
} */

#head {
  background-color: rgba(64, 131, 19, 0.83);
}
